span.c {color: orange;}
span.u {text-decoration: orange underline;}
table {width: 100%;}
p.center {text-align: center;}
p.der {text-align: right;}
aside {width: 2000px;
        height: 300px;}
button.flo {float: right;}